extends layout

block content
  h1= title

  form(method='POST' action='',enctype='multipart/form-data')
    div.form-group
      label(for='name') PSU Name:
      input#name.form-control(type='text', placeholder='Enter PSU name' name='name' required='true')

    div.form-group
      label(for='brand') Brand:
      input#wattage.form-control(type='text', placeholder='Enter Brand' name='brand' required='true')

    div.form-group
      label(for='wattage') Wattage:
      input#wattage.form-control(type='number', placeholder='Enter wattage' name='wattage' required='true')

    div.form-group
      label(for='efficiencyRating') Efficiency Rating:
      input#efficiencyRating.form-control(type='text', placeholder='Enter efficiency rating' name='efficiencyRating')

    div.form-group
      label(for='modular') Modular:
      input#efficiencyRating.form-control(type='text' name='modular')


    div.form-group
      label(for='price') Price:
      input#price.form-control(type='number', placeholder='Enter price' name='price' required='true')

    div.form-group
      label(for='picture') Upload PSU Image:
      input#image.form-control(type='file', name='picture')

    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
