extends layout

block content
  h1= title

  if ram
    p Are you sure you want to delete #{ram.name}?
    form(method='POST' action='')
      input(type='submit' value='Delete')
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      a(href='/catalog/rams') Cancel
  else
    p Ram not found
